{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'displaytable/style.css' %}">
<!-- ^^^ added for django -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tickers (HD-21)</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

    <div style="background: url(images/food.gif); background-size: contain; background-repeat: no-repeat; width: 1000px; height: 530px; margin: 0 auto; display: grid;" >
                <div class="container why" style="place-self: center;">
                    <h1>Market Watch</h1>
                </div>
    </div>

    <div>
        <form action="/search/" method="post">
            <input id="query" type="text" query="my query">
            <input type="submit" value="Submit">
        </form>
    </div>

    {% if other_data %}
    <div class="centerdiv" style="width: 470px;">
        <div>
          <p class="alignleft" style="color: white;">Time: {{ other_data.0 }}</p>
          <p class="alignright" style="color: white;">Previously updated: N/A</p>
        </div>
    </div>
    {% endif %}

    {% if ticker_data %}
    <div style="clear: both;"></div>
        <div class="grid" style="width: 600px; height: 200px">
            <div class="box"><b>Ticker</b></div>
            <div class="box"><b>Share Price</b></div>
            <div class="box"><b>Win Percentage</b></div>
            <div class="box"><b>Loss Percentage</b></div>
            {% for ticker in ticker_data %}
                <div class="box">{{ ticker.0 }}</div>
                <div class="box">${{ ticker.1 }}</div>
                <div class="box">{{ ticker.2 }}%</div>
                <div class="box">{{ ticker.3 }}%</div>
            {% endfor %}
        </div>

    </div>

    {% else %}
        <p>No data is available!</p>
    {% endif %}
    <p class="bottom" style="color: ffffff; font-size: 16px">
        (for new data, refresh the page)
    </p>
</body>

</html>
