{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'displaytable/style.css' %}">
<!-- ^^^ added for django -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results (HD-21)</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

    <div style="background: url(images/food.gif); background-size: contain; background-repeat: no-repeat; width: 1000px; height: 530px; margin: 0 auto; display: grid;" >
                <div class="container why" style="place-self: center;">
                    <h1>Market Watch</h1>
                </div>

                <div class="container why search" style="place-self: center; margin-top: 180px;">
                     <form action="search" method="post">
                        {% csrf_token %}
                        <input type="text" value="{{ ticker }}" name="ticker">
                        <input type="submit" value="Search">
                    </form>
                </div>
    </div>



    <div>
        
    </div>
    {% if other_data %}
    <div class="centerdiv" style="width: 470px;">
        <div>
          <p class="alignleft" style="color: white;">Time: {{ other_data.0 }}</p>
          <p class="alignright" style="color: white;">Last Updated: N/A</p>
        </div>
    </div>
    {% endif %}


    <h1 style="color: white;">Results for {{ ticker }}: </h1>

    {% if ticker_data %}
    <div style="clear: both;"></div>
        <div class="grid" style="width: 600px; height: 200px">
            <div class="box"><b>Ticker</b></div>
            <div class="box"><b>Share Price</b></div>
            <div class="box"><b>Win Percentage</b></div>
            <div class="box"><b>Loss Percentage</b></div>
            <!-- Only one result -->
            <div class="box">{{ ticker_data.0 }}</div>
            <div class="box">${{ ticker_data.1 }}</div>
            <div class="box">{{ ticker_data.2 }}%</div>
            <div class="box">{{ ticker_data.3 }}%</div>
        </div>

    </div>

    {% else %}
        <p>No data is available!</p>
    {% endif %}
    <a href="http://127.0.0.1:8000/displaytable/">
    <p class="bottom" style="color: ffffff; font-size: 16px">
        (return to front page)
    </p></a>
</body>

</html>
