html{
	background-color: black;
}
.box{
    border:  1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6699ff;
}

.grid{
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px 100px 100px;
}

.center{
	text-align: center;
	vertical-align: center;
}

.centerdiv{
	margin: auto;
	width: 50%;
	padding-top: 25px;
}

.time{
	height: 100 px;
	width: 50%;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
}

h1 {
	color: green;
	font-weight: bold;
	font-size: 64px;
}

body{
	background: url("images/food.gif") no-repeat; background-position: center; width: 1000px; height: 530px; margin: 0 auto; display: grid;
}

.why {
	color: white;
	font-weight: bold;
	font-size: 50px;
}


.bottom {
    position: fixed;
    bottom: 0;
}
